*{
    margin: 0;
    padding: 0;

}

.name{
    height: 100%;
    width: 20%;
    background-color: rgb(211, 15, 15);
    position: fixed;

}
.company{
    width: 100%;
    height: 30%;
    font-size: 30px;
    color: cornsilk;
    /* background-color: darkblue; */
    display: flex;
    justify-content: space-evenly;
    /* text-align: center; */
    align-items: center;
   
}

.name1{
    margin-right: 35%;
    margin-top: 30%;
    color: darkgray;
}

.content{
    width: 100%;
    height: 50%;
    /* background-color: darkgreen; */
    font-size: 20px;
    color: darkgrey;
    justify-content:center;
    display: flex;

    
}
ul{
    height: 80%;
    width: 60%;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-direction: column;
    display: flex;
    list-style: none;
    /* margin-right: 35%; */
}
li:hover{
    background-color: white;
    width: 100%;
}

.maal{
    width: 100%;
    height: 500vh;
    background-color: white;
}
.maal1{
    width: 100%;
    height: 130px;
    background-color:white; 
    color:black;
    font-size: 55px;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    padding-top: 50px;
    padding-left: 350px; 
    flex-direction: column;
}
.maal2{
    width: 100%;
    height: 90px;
    background-color: white;
    color:red;
    font-size: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding-top: 30px; */
    padding-left: 350px; 

}

.images{
    /* width: 100%;
    height: 500vh;
    background-color: violet;
    display: flex;
    padding-left: 80px;
    justify-content: center;
    align-items: center; */
}
/* .image1{
    width: 80%;
    height: 80%;
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
